<!DOCTYPE html>
<html lang="es">
<head>
	<title>Agregar materia prima</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="icon" href="/imagenes/icons/logo_navidad.png" type="image/x-icon">
</head>
<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				PAN Y ARTE <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="/imagenes/icons/logo_navidad.png" alt="UserIcon">
					<figcaption class="text-center text-titles">Andrés</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="/html/configuraciones.html">
							<i class="zmdi zmdi-settings"></i> <!--ESTE ES UN ICONO-->
						</a>
					</li>
					<li>
						<a href="#!" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i> <!--ESTE ES UN ICONO-->
						</a>
					</li>
				</ul>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="/html/add_materia.html">
						<i class="zmdi zmdi-truck zmdi-hc-fw"></i> AGREGAR MATERIA PRIMA <!--ESTE ES UN ICONO-->
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-storage zmdi-hc-fw"></i> INVENTARIO <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/html/inventario.html"><i class="zmdi zmdi-archive zmdi-hc-fw"></i>Inventario</a>
						</li>
						<li>
							<a href="/html/registrar_salida.html"><i class="zmdi zmdi-arrow-right zmdi-hc-fw"></i>Registrar salida</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-file-text zmdi-hc-fw"></i> REPORTES <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/html/reporte_ventas.html"><i class="zmdi zmdi-chart zmdi-hc-fw"></i>Reporte de ventas</a>
						</li>
						<li>
							<a href="/html/reporte_inven.html"><i class="zmdi zmdi-chart zmdi-hc-fw"></i>Reporte de inventario</a>
						</li>
						<li>
							<a href="/html/reporte_stock.html"><i class="zmdi zmdi-chart zmdi-hc-fw"></i>Reporte de stock</a>
						</li>
						<li>
							<a href="/html/reporte_caduci.html"><i class="zmdi zmdi-chart zmdi-hc-fw"></i>Reporte de caducidad</a>
						</li>
						<li>
							<a href="/html/reporte_provee.html"><i class="zmdi zmdi-chart zmdi-hc-fw"></i>Reporte de proveedores</a>
						</li>
						<li>
							<a href="/html/reporte_compra.html"><i class="zmdi zmdi-chart zmdi-hc-fw"></i>Reporte de compras</a>
						</li>
						<li>
							<a href="/html/reporte_tende.html"><i class="zmdi zmdi-chart zmdi-hc-fw"></i>Reporte de tendencia</a>
						</li>
						<li>
							<a href="/html/modificar_report.html"><i class="zmdi zmdi-edit zmdi-hc-fw"></i>Modificar reporte</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account zmdi-hc-fw"></i> USUARIO <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/html/perfil.html"><i class="zmdi zmdi-account-circle zmdi-hc-fw"></i>Perfil</a>
						</li>
						<li>
							<a href="/html/admin_user.html"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i>Administrador de usuario</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/html/configuraciones.html">
						<i class="zmdi zmdi-settings zmdi-hc-fw"></i> CONFIGURACIONES
					</a>
				</li>
			</ul>
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-Notifications-area">
						<i class="zmdi zmdi-notifications-none"></i>
						<span class="badge">5</span>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles">AGREGAR MATERIA PRIMA</h1>
			</div>
		</div>
		<!--ESTA ES LA PARTE DEL CUADRO DE-->
		<div class="inventario">
			<div class="inventario-block">
				<label for="materia-prima">NOMBRE DE LA MATERIA PRIMA</label>
				<input type="text" id="materia-prima" name="materia-prima">
			</div>

			<div class="inventario-block">
				<label for="costo">COSTO</label>
				<input type="text" id="costo" name="costo">
			</div>
			
			<div class="inventario-block">
				<label for="proveedor">PROVEEDOR</label>
				<input type="text" id="proveedor" name="proveedor">
			</div>

			<div class="inventario-block">
				<label for="cantidad">CANTIDAD</label>
				<input type="text" id="cantidad" name="cantidad">
			</div>

			<div class="inventario-block">
				<label for="unidad-medida">UNIDAD DE MEDIDA</label>
				<input type="text" id="unidad-medida" name="unidad-medida">
			</div>

			<div class="inventario-block">
				<label for="categoria">CATEGORIA</label>
				<input type="text" id="categoria" name="categoria">
			</div>

			<div class="inventario-block">
				<label for="fecha-llegada">FECHA DE LLEGADA</label>
				<input type="text" id="fecha-llegada" name="fecha-llegada">
			</div>
			
			<div class="inventario-block">
				<label for="fecha-vencimiento">FECHA DE VENCIMIENTO</label>
				<input type="text" id="fecha-vencimiento" name="fecha-vencimiento">
			</div>
		</div>
		<div class="externo-button">
			<button class="btn-guardar">GUARDAR</button>
		</div>
		<div class="externo-button">
			<button class="btn-registrar">REGISTRAR</button>
		</div>
		<div class="externo-button">
			<a href="/html/registrar_prov.html"><button class="btn-registrar-prov">REGISTRAR PROVEEDORES</button></a>
		</div>
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles">NOVEDADES Y NOTIFICACIONES <small>Linea de suministros</small></h1>
			</div>
			<section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <img src="/imagenes/icons/colanta.png" alt="user-picture">
                    </div>
                    <div class="cd-timeline-content">
                        <h4 class="text-center text-titles">1 - COLANTA</h4>
                        <p class="text-center">
                            <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Hora de llegada: <em>7:00 AM</em> &nbsp;&nbsp;&nbsp; 
                            <i class="zmdi zmdi-money zmdi-hc-fw"></i> Precio de pedido: <em>750.000</em>
                        </p>
                        <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 30/11/2024</span>
                    </div>
                </div>  
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <img src="/imagenes/icons/bimbo.jpeg" alt="user-picture">
                    </div>
                    <div class="cd-timeline-content">
                        <h4 class="text-center text-titles">2 - BIMBO</h4>
                        <p class="text-center">
                            <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Hora de llegada: <em>10:00 AM</em> &nbsp;&nbsp;&nbsp; 
                            <i class="zmdi zmdi-money zmdi-hc-fw"></i> Precio de pedido: <em>800.000</em>
                        </p>
                        <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 01/01/2025</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <img src="/imagenes/icons/puratos.png" alt="user-picture">
                    </div>
                    <div class="cd-timeline-content">
                        <h4 class="text-center text-titles">3 - PURATOS</h4>
                        <p class="text-center">
                            <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Hora de llegada: <em>7:00 AM</em> &nbsp;&nbsp;&nbsp; 
                            <i class="zmdi zmdi-money zmdi-hc-fw"></i> Precio de pedido: <em>1.200.000</em>
                        </p>
                        <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 24/12/2024</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <img src="/imagenes/icons/sanin.png" alt="user-picture">
                    </div>
                    <div class="cd-timeline-content">
                        <h4 class="text-center text-titles">4 - SANIN</h4>
                        <p class="text-center">
                            <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Hora de llegada: <em>7:00 AM</em> &nbsp;&nbsp;&nbsp; 
                            <i class="zmdi zmdi-money zmdi-hc-fw"></i> Precio de pedido: <em>700.000</em>
                        </p>
                        <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 30/11/2024</span>
                    </div>
                </div>   
            </section>


		</div>
	</section>

	<!-- Notifications area -->
	<section class="full-box Notifications-area">
		<div class="full-box Notifications-bg btn-Notifications-area"></div>
		<div class="full-box Notifications-body">
			<div class="Notifications-body-title text-titles text-center">
				NOTIFICACIONES <i class="zmdi zmdi-close btn-Notifications-area"></i>
			</div>
			<div class="list-group">
			  	<div class="list-group-item">
				    <div class="row-action-primary">
				      	<img src="/imagenes/img/andres.jpg" alt="" class="notificaciones">
				    </div>
				    <div class="row-content">
				      	<div class="least-content">5 m</div>
				      	<h4 class="list-group-item-heading">Entrada de producto</h4>
				      	<p class="list-group-item-text">Nuevo inventario recibido: 50 unidades de Leche alqueria 1L han sido añadidas correctamente.</p>
				    </div>
			  	</div>
			  	<div class="list-group-separator"></div>
			  	<div class="list-group-item">
				    <div class="row-action-primary">
						<img src="/imagenes/img/Asta.jpeg" alt="" class="notificaciones">
				    </div>
				    <div class="row-content">
				      	<div class="least-content">15m</div>
				      	<h4 class="list-group-item-heading">Salida de productos</h4>
				      	<p class="list-group-item-text">Salida registrada: 30 unidades de Arina de trigo 1kg han sido retiradas del inventario.</p>
				    </div>
			  	</div>
			  	<div class="list-group-separator"></div>
				<div class="list-group-item">
				    <div class="row-action-primary">
						<img src="/imagenes/img/dva.jpeg" alt="" class="notificaciones">
				    </div>
				    <div class="row-content">
				      	<div class="least-content">25m</div>
				      	<h4 class="list-group-item-heading">Bajo stock</h4>
				      	<p class="list-group-item-text">Alerta de bajo stock: Solo quedan 5 unidades de huevo kikes x30 Realice un pedido pronto</p>
				    </div>
				</div>
			  	<div class="list-group-separator"></div>
			  	<div class="list-group-item">
				    <div class="row-action-primary">
						<img src="/imagenes/img/andres.jpg" alt="" class="notificaciones">
				    </div>
				    <div class="row-content">
				      	<div class="least-content">5h</div>
				      	<h4 class="list-group-item-heading">Actualización de inventario</h4>
				      	<p class="list-group-item-text">Inventario actualizado: La cantidad de Coca-cola 1L ha sido ajustada correctamente.</p>
				    </div>
			  	</div>
				<div class="list-group-separator"></div>
			  	<div class="list-group-item">
				    <div class="row-action-primary">
						<i class="zmdi zmdi-alert-circle zmdi-hc-fw"></i>
				    </div>
				    <div class="row-content">
				      	<div class="least-content">7h</div>
				      	<h4 class="list-group-item-heading">Caducidad de productos</h4>
				      	<p class="list-group-item-text">Alerta de caducidad: El producto Crema de leche 500gr está cerca de su fecha de expiración.</p>
				    </div>
			  	</div>
			</div>

		</div>
	</section>

	<!-- Dialog help -->
	<div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    	<h4 class="modal-title">¿NECESITAS AYUDA?</h4>
			    </div>
			    <div class="modal-body">
				<p>
					Bienvenido/a a Bread Tracker, el sistema de inventario diseñado para facilitar la gestión de "Pan y Arte". 
					Aquí encontrarás información para resolver tus dudas rápidamente.
				</p>
				<dl>
					<dt>Correo electrónico:</dt>
					<dd>andres.camilo.fernandez@correounivalle.edu.co</dd>
					<dt>Teléfono:</dt>
					<dd>662 482918</dd>
					</dl>
				</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-primary btn-raised" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> Ok</button>
		      	</div>
		    </div>
	  	</div>
	</div>
	<!--====== Scripts -->
	<script src="/script/jquery-3.1.1.min.js"></script>
	<script src="/script/bootstrap.min.js"></script>
	<script src="/script/material.min.js"></script>
	<script src="/script/ripples.min.js"></script>
	<script src="/script/sweetalert2.min.js"></script>
	<script src="/script/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/script/main.js"></script>
	<script>
		$.material.init();
	</script>
</body>
</html>