<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-user</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
    <link rel="stylesheet" href="/css/style-admin-user.css">
    <link rel="icon" href="/imagenes/admin_user.ico" type="image/x-icon">
</head>
<body>
    <div class="swiper mySwiper">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="icons">
                    <i  class="fa-solid fa-circle-arrow-left"></i>
                    <img src="/imagenes/icono.ico" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>ANDRES</span>
                        <h3>ADMINISTRADOR</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ut, eveniet qui doloremque in placeat facere, vel, repudiandae recusandae voluptates veniam maxime? Veniam tempora quibusdam nobis, placeat architecto laudantium.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="/imagenes/andres.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">INICIAR SESION</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i  class="fa-solid fa-circle-arrow-left"></i>
                    <img src="/imagenes/icono.ico" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>LUCAS</span>
                        <h3>CHEF</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ut, eveniet qui doloremque in placeat facere, vel, repudiandae recusandae voluptates veniam maxime? Veniam tempora quibusdam nobis, placeat architecto laudantium.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="/imagenes/Asta.jpeg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">INICIAR SESION</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i  class="fa-solid fa-circle-arrow-left"></i>
                    <img src="/imagenes/icono.ico" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>SARA</span>
                        <h3>CAJERA</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ut, eveniet qui doloremque in placeat facere, vel, repudiandae recusandae voluptates veniam maxime? Veniam tempora quibusdam nobis, placeat architecto laudantium.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="/imagenes/dva.jpeg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">INICIAR SESION</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i  class="fa-solid fa-circle-arrow-left"></i>
                    <img src="/imagenes/icono.ico" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>PACO</span>
                        <h3>ASEADOR</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ut, eveniet qui doloremque in placeat facere, vel, repudiandae recusandae voluptates veniam maxime? Veniam tempora quibusdam nobis, placeat architecto laudantium.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="/imagenes/andres.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">INICIAR SESION</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i  class="fa-solid fa-circle-arrow-left"></i>
                    <img src="/imagenes/icono.ico" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>CAMILO</span>
                        <h3>SUB CHEF</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ut, eveniet qui doloremque in placeat facere, vel, repudiandae recusandae voluptates veniam maxime? Veniam tempora quibusdam nobis, placeat architecto laudantium.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="/imagenes/Asta.jpeg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">INICIAR SESION</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i  class="fa-solid fa-circle-arrow-left"></i>
                    <img src="/imagenes/icono.ico" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>XIMENA</span>
                        <h3>CONTADORA</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ut, eveniet qui doloremque in placeat facere, vel, repudiandae recusandae voluptates veniam maxime? Veniam tempora quibusdam nobis, placeat architecto laudantium.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="/imagenes/dva.jpeg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">INICIAR SESION</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i  class="fa-solid fa-circle-arrow-left"></i>
                    <img src="/imagenes/icono.ico" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>ALVARO</span>
                        <h3>PASTELERO</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ut, eveniet qui doloremque in placeat facere, vel, repudiandae recusandae voluptates veniam maxime? Veniam tempora quibusdam nobis, placeat architecto laudantium.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="/imagenes/andres.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">INICIAR SESION</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i  class="fa-solid fa-circle-arrow-left"></i>
                    <img src="/imagenes/icono.ico" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>LORENZO</span>
                        <h3>PANADERO</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ut, eveniet qui doloremque in placeat facere, vel, repudiandae recusandae voluptates veniam maxime? Veniam tempora quibusdam nobis, placeat architecto laudantium.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="/imagenes/Asta.jpeg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">INICIAR SESION</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i  class="fa-solid fa-circle-arrow-left"></i>
                    <img src="/imagenes/icono.ico" alt="">
                    <i class="fa-solid fa-pencil"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>MARIA</span>
                        <h3>ASEADORA</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ut, eveniet qui doloremque in placeat facere, vel, repudiandae recusandae voluptates veniam maxime? Veniam tempora quibusdam nobis, placeat architecto laudantium.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="/imagenes/dva.jpeg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">INICIAR SESION</a>
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper (".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            loop:true,
            coverflowEffect: {
                depth:500,
                modifer:1,
                slidesShadows:true,
                rotate:0,
                stretch:0
            }
        })
    </script>
</body>
</html>