<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>
<body>
    
    <div class="container">

        <div class="container-form">
            <form class="sign-in" method="POST" action="{% url 'loginRegister' %}">
                {% csrf_token %}
                <h2>INICIAR SESION</h2>
                <span>USE SU CORREO Y CONTRASEÑA</span>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="username" placeholder="EMAIL" required> <!-- Cambiado a type="email" -->
                </div>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" placeholder="CONTRASEÑA" required>
                </div>
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button class="button" type="submit">INICIAR SESION</button>
            </form>
        </div>

        <div class="container-form">
            <form class="sign-up" method="POST" action="{% url 'loginRegister' %}">
                {% csrf_token %}
                <h2>REGISTRARSE</h2>
                <span>USE SU CORREO ELECTRONICO PARA REGISTRARSE</span>
                <div class="container-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" name="name" placeholder="NOMBRE" required>
                </div>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="email" placeholder="EMAIL" required> <!-- Cambiado a type="email" -->
                </div>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" placeholder="CONTRASEÑA" required>
                </div>
                <button class="button" type="submit">REGISTRARSE</button>
            </form>
        </div>

        <div class="container-welcome">
            <div class="welcome-sign-up welcome">
                <h3>¡BIENVENIDO!</h3>
                <p>INGRESE SUS DATOS PERSONALES PARA UTILIZAR TODAS LAS FUNCIONES DEL SITIO</p>
                <!-- Botón de registro que puede ser utilizado para alternar la visibilidad del formulario -->
                <button class="button" id="btn-sign-up">REGISTRARSE</button>
            </div>
            <div class="welcome-sign-in welcome">
                <h3>¡HOLA!</h3>
                <p>REGISTRE SUS DATOS PERSONALES PARA USAR TODAS LAS FUNCIONES DEL SITIO</p>
                <button class="button" id="btn-sign-in">INICIAR SESION</button>
            </div>
        </div>
    </div>

    <script src="{% static 'login/script.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
